*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
    font-family: 'Fredoka', sans-serif;   
}

html{
    font-size: 62.5%;
}

body{
    --btn-color: #FE5E35;
    --txt-color: #c6c0c0;
    --un-color:  #eff713;
    height: 100vh;
    width: 100vw;
    padding: 1rem 3rem;
    overflow: hidden;
}

/* =======nav start============ */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8rem;
    /* background-color: #eff713; */
}

nav .nav-items{
    width: 60vw;
    height: inherit;
    /* background-color: #FE5E35; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav-items h5:first-child{
    font-family: 'Fredoka One', cursive;
    color: var(--btn-color);
}

nav .nav-items h5{
    font-size: 2rem;
    font-weight: 100;
    width: 15vw;
    text-align: center;
    cursor: pointer;
}

/* =======nav end============ */

/* =======intro section start============ */

.intro-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 63rem;
    /* background-color: darkblue; */
    padding: 0 4rem;
}

.left-section{
    width: 50%;
    height: inherit;
    /* background-color: #FE5E35; */
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
}

.left-section h3{
    width: 43rem;
    margin: 1.2rem 0;
    font-size: 3.2rem;
    font-weight: 300;
    /* background-color: #c6c0c0; */
}

.left-section h1{
    width: 69rem;
    height: 12rem;
    font-size: 6rem;
    font-family: 'Fredoka One', cursive;
    /* background-color: #eff713; */
    font-weight: 400;
    letter-spacing: .5rem;
}

.sub-headlines{
    width: 67rem;
    height: 18rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8rem;
    /* background-color: #fff9f9; */
}

.sub-headlines .sub-headline{
    font-size: 3rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.sub-headlines .sub-headline img{
    border-radius: 50%;
    padding: .5rem;
    margin-right: 1.5rem;
    background-color: var(--btn-color);
}

.text{
    color:var(--txt-color);
    width: 67rem;
    height: 10rem;
    display: flex;
    align-items: center;
    font-size: 1.79rem;
    font-weight: 100;
    /* background-color: yellowgreen; */
}

.action-btns{
    width: 67rem;
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4rem;
    /* background-color: yellow; */
}

.action-btn{
    padding: 2rem 4rem;
    background-color: var(--btn-color);
    color: #fff9f9;
    border-style: none;
    outline: none;
    font-size: 2.1rem;
    font-weight: 550;
    border-radius: 4rem;
    cursor: pointer;
    /* margin-top: 6rem; */
}



.right-section{
    width: 50%;
    height: 62rem;
    /* background-color:#eff713; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.headphone-div{
    height: 50rem;
    width: 43rem;
     /* background-color: violet; */
     position: relative;
}

.headphone-div .discount{
    position: absolute;
    z-index: 1;
    top: 29rem;
    left: -25rem;
    height: 14rem;
}

.headphone-div .discount-content{
    position: absolute;
    z-index: 2;
    top: 33rem;
    left: -3.5rem;
    color: #ffffff;
}

.headphone-div .discount-content h4{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.headphone-div .discount-content h1{
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
}

.headphone-div img{
    position: absolute;
    top: -3rem;
    left: -2rem;
    width: 50rem;
    height: 48rem;
}

.dots{
    width: 16rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    bottom: 12rem;
    right: 28rem;
}

.dots .dot{
    border-radius: 50%;
    /* background-color: blueviolet; */
    height: 2.5rem;
    width: 2.5rem;
    
}

.yellow-dot{
    background-color: var(--un-color);
}

.tomato-dot{
    background-color: var(--btn-color);
}

.black-dot{
    background-color: #000000;
}

.right-section .action-btn{
    position: absolute;
    bottom: 3.5rem;
    right: 25rem;
    
}
/* =======intro section end============ */
